.row1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border: solid 1px red;
	height: auto;
	width: 100%;
	margin: 10px;

}

.doorContainer {
	border: solid 10px indianred;
	height: 350px;
	width: 250px;
	margin: 10px;
	-webkit-perspective: 1500;
	-webkit-perspective-origin: 50% 50%;
	perspective: 750px;
	perspective-origin: 10% 20%;
}

.doorOpen {
	border: solid 5px black;
	background-color: grey;
	height: 330px;
	width: 230px;
	position: relative;
	cursor: pointer;
	transform: rotateY(-125deg);
	transform-origin: 1px;
	transition: .03s linear;
	z-index: 2;
}

.doorClose{
	border: solid 5px black;
	height: 330px;
	width: 230px;
	background-color: grey;
	position: relative;
	cursor: pointer;
	transform: rotateY(0deg);
	transform-origin: 1px;
	transition: .03s linear;
	z-index: 2;
}


label{
	position: relative;
	top:-175px;
	left: 55px;
	text-align: center;
	height: 75px;
	z-index: -1;
	width:125px;
	background-color: lightgrey;
	border:solid 2px red ;
}