button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  height: 50px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.9s;
}

button span: after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

input {
	max-width: 250px;
	min-width: 75px;
	height: 50px;
	background-color: white;
	border: 1px solid grey;
	border-radius: 8px;
	color: grey;
	font-size: large;
	margin: 5px;
	text-align: center;
}

i {
	font-size: 300em;
	color: green;
}

.backslash {
	background-color: #f4511e;
	width: 100%;
	border-radius: 15px 15px 0px 0px;
	margin: 0px;
	text-align: center;
	color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.operator {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	border: 1px solid grey;
	width: 33%;
	height: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-between;
	align-content: space-between;
	width: 100%;
	height: auto;
	border: 1px solid grey;
	background-color: white;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: space-between;
	align-content: space-around;
	margin: 25px 10%; 
	background-color: white;
}

.inputdiv {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: space-around;
	width: 100%;
	height: 100%;
	border: 0.1px solid grey;
	border-radius: 15px;
	margin: 10px 0px;
}

.door {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: yellow;
	width: 350px;
	height: inherit;
	margin: 10px 10px;
	border: solid 2px indianred;
}

.doorcontainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: auto;
	margin: 10px 10px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.outputdiv {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: space-around;
	height: 300px;
	border: 0.5px solid grey;
	border-radius: 15px;
	background-color: white;
	margin: 10px 0px;
}

.printmyinfo {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
	width: 100%;
	height: 300px;
	border:	0.5px solid grey;
	border-radius: 15px;
	background-color: offwhite;
	margin: 10px 10px;
}


body
{
  background-color:#f0f0f0;
}



.row1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: auto;
	width: 100%;
	margin: 10px;
}

.doorContainer {
	border-top: solid 10px grey;
	border-left: solid 10px grey;
	border-right:  solid 10px grey;
	height: 350px;
	width: auto;
	margin: 10px;
	-webkit-perspective: 1500;
	-webkit-perspective-origin: 50% 50%;
	perspective: 750px;
	perspective-origin: 10% 20%;
}

.doorOpen {
	/*border: solid 5px black;
	/*background-color: grey;*/
	background-image: url("door.jpg");
	background-size: 100%;
	height: 330px;
	width: 230px;
	position: relative;
	cursor: pointer;
	transform: rotateY(-125deg);
	transform-origin: 1px;
	transition: .03s linear;
	z-index: 2;
}

.doorClose{
	/*border: solid 5px black;*/
	height: 330px;
	width: 230px;
	/*background-color: grey;*/
	background-image: url("door.jpg");
	background-size: 100%;
	position: relative;
	cursor: pointer;
	transform: rotateY(0deg);
	transform-origin: 1px;
	transition: .03s linear;
	z-index: 2;
}


label {
	position: relative;
	top:-250px;
	left: 55px;
	text-align: center;
	height: auto;
	width: auto;
	z-index: -1;
	width: auto;
}

.door1giftimage,.door2giftimage,.door3giftimage {
	position: relative;
	top:-250px;
	left: 25px;
	text-align: center;
	height: 175px;
	width: 175px;
	z-index: -1;
}

#giftimage,#giftimage2,#giftimage3 {
	position: relative;
	left: 25px;
	text-align: center;
	height: 175px;
	width: 175px;
	z-index: -1;

}
	
